svg { --crease-width: 0.015; }
svg * {
  stroke-width: var(--crease-width);
  stroke-linecap: round;
  stroke: black;
}
polygon { fill: none; stroke: none; stroke-linejoin: bevel; }
.boundary { fill: white; stroke: black; }
.mark { stroke: #AAA; }
.mountain { stroke: #000; }
.valley {
  stroke: #000;
  stroke-dasharray:calc(var(--crease-width)*1.333) calc(var(--crease-width)*2);
}
.foldedForm .boundary {fill: none; stroke: none;}
.foldedForm .faces polygon { stroke: #000; }
.foldedForm .faces .front { fill: linen; }
.foldedForm .faces .back { fill: peru; }  /* #DDD; */
.foldedForm .creases line { stroke: none; }

.foldedForm .creases { display: none; opacity: 0; }
.creasePattern .faces { display: none; opacity: 0; }

.creasePattern .boundary { fill: linen; }